* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #181510;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
}

ul,
ol,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3 {
    color: #ffffff;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading {
    background: url("../img/preloader.gif") no-repeat center center;
}

.menu-icon {
    text-indent: 2.1875rem;
    width: 2.8125rem;
    height: 2.8125rem;
    display: block;
    padding: 0;
    color: white;
    position: relative;
    transform: translate3d(0, 0, 0);
    float: left;
}

.menu-icon span:after {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    top: 50%;
    margin-top: -0.5rem;
    left: 0.90625rem;
    box-shadow: 0 0px 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
    width: 1rem;
}

.menu-icon span:hover:after {
    box-shadow: 0 0px 0 1px #b3b3b3, 0 7px 0 1px #b3b3b3, 0 14px 0 1px #b3b3b3;
}

header {
    position: relative;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .85);
    padding: 0 120px;
}

.divider {
    margin: 0 .5rem;
}

.off-canvas-wrap,
.inner-wrap {
    height: 100%;
}

.logo {
    width: 16rem;
    height: 7rem;
    padding-top: .8rem;
}

#container {
    padding: 0 120px;
}

#container address.mini > section.address {
    display: none;
}

#container address.mini .pub-name {
    display: block;
}

.pub-info {
    position: relative;
    background: #ffffff;
    color: #181510;
    font-style: normal;
    width: 16rem;
}

.pub-name {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    padding-top: 1rem;
}

.pub-open {
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    border-radius: .2rem;
    border: 1px #b3ada3 solid;
    padding: .1rem .4rem;
    font-size: .7rem;
}

.pub-open.open {
    color: #31953e;
    border-color: #31953e;
}

.pub-distance {
    color: #b3ada3;
    font-size: .8rem;
    padding-top: .5rem;
}

.pub-name a {
    color: #181510
}

.pub-image {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    border: .2rem #ffffff solid;
    margin: .5rem 0 -50px 0;
}

.pub-phone {
    margin: 1rem 0;
}

.pub-phone a {
    background: url("../img/phone.svg") no-repeat 1rem center;
    background-size: 1.6rem;
    border: 1px solid #d22042;
    color: #d22042;
    padding: .6rem 1rem .6rem 3rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
    border-radius: 1.6rem;
}

section.address {
    background: #181510;
    color: #ffffff;
    padding: 4rem 1rem 1rem 1rem;
}

.main-nav {
    margin-top: 2.7rem;
}

.main-nav li {
    float: left;
}

.main-nav li::after {
    content: "·";
    padding: 0px 1.2rem;
}

.main-nav li:last-child:after {
    content: none;
    padding: auto;
}

.main-nav li.search {
    margin-top: -.5rem;
}

.main-nav a {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    color: #ffffff;
}

.main-nav form {
    margin-bottom: 0;
}

.main-nav .search input {
    -webkit-transition: width 0.6s;
    transition: width 0.6s;
    background: url("../img/search.svg") no-repeat 1rem center;
    background-size: 1.3rem;
    border: 1px solid #494949;
    text-align: right;
    padding: 1.2rem 1.2rem 1.2rem 3rem;
    font-size: .9rem;
    margin: 0;
    color: #f2f0e9;
    width: 13rem;
    -webkit-border-radius: 1.4rem;
    -moz-border-radius: 1.4rem;
    border-radius: 1.4rem;
}

.main-nav .search input:focus {
    -webkit-transition: width 0.6s;
    transition: width 0.6s;
    border: 1px solid #888888;
    outline: none;
    width: 16rem;
    font-size: .9rem;
}

.pagination {
    position: absolute;
    width: 100%;
    bottom: 50%;
}

.pagination a {
    display: block;
    text-align: center;
    color: #5c564c;
    width: 120px;
    min-height: 120px;
    padding: 60px 10px 10px 10px;
}

.pagination a.prev {
    background: #181510 url("../img/arrow-previous.svg") no-repeat center 15px;
    background-size: 2.2rem;
}

.pagination a.next {
    background: #181510 url("../img/arrow-next.svg") no-repeat center 15px;
    background-size: 2.2rem;
    color: #817d75;
}

.pagination a p.pag-pub-name {
    font-weight: 800;
    font-size: .9rem;
    line-height: 1rem;
    letter-spacing: -0.04rem;
    text-transform: uppercase;
}

.pagination a p.pag-pub-distance {
    font-size: .8rem;
}

.reveal-modal {
    background: #181510;
    border: 0;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem;
}

footer {
    background: #181510;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 120px;
}

footer h3 {
    font-weight: 800;
    font-size: 1rem;
}

footer div.columns {
    font-size: .8rem;
}

@media only screen and (max-width: 40em) {
    header {
        padding: .5rem 0;
    }
    .main-nav {
        margin-top: .6rem;
    }
    #container {
        padding: 0;
        width: 100%;
    }
    #container address {
        width: 100%;
    }
    .pagination {
        background: #181510;
        height: 50px;
        bottom: 0;
    }
    .pagination a {
        min-height: inherit;
        position: absolute;
        height: 50px;
    }
    .pagination a.prev {
        background-position: center center;
        background-size: 1.8rem;
        border-right: 1px solid #302d28;
        width: 50px;
        padding: 0;
        top: 0;
        left: 0;
    }
    .pagination a.next {
        background-position: right 10px center;
        background-size: 1.8rem;
        text-align: left;
        color: #817d75;
        padding: 5px 50px 0 60px;
        width: 100%;
        top: 0;
        right: 0;
    }
    .pagination a.next p.pag-pub-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}